.home-bg-image {
    width: calc(100vw);
    height: 100vh;
    background-image: url(../assets/collage-1.png);
    position: absolute;
    background-size: cover;
    margin-left: -20px;
    z-index: 0;
}

.home-bg-image-overlay {
    width: calc(100%);
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    position: absolute;
    background-size: cover;
    z-index: 0;
}

.home-hero {
    z-index: 10;
}